*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    max-width: 1600px;
      margin: 0 auto;
      background-color: #ffffff;

}
.nav-content{
    width: 1360px;
    margin: 0 auto;

}
nav{ 
    background-color: #f0e8e8;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
  
}
.menu{
    display: flex;
    gap: 32px;
    list-style: none;
}
.menu a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
.nav-buttom{
    border-radius: 4px;
    background-color: #30B868;
    padding: 12px 16px;
    font-style: semi bold;
    font-size: 16px;
    font-weight: 600;
    color: #f3f0f0;
}

#main-container.{
    width: 1600px;
background-image: url("./assest/hero-bg.png");

}
.content{
max-width: 1360px;
height: 740px;
background-color: #fbf6f6;
text-align: center;
 margin: 0 auto;
 padding-top: 100px ;

}

#button-top{
    color: #30B868;
    border-radius: 90px;
}

.content button{
    padding:10px 20px ;
}

.content .button-1{
    padding: 10px 20px;
    background-color: #30B868;

}
#img-top-header{padding: 10px;
    
}
.content h1{
    width: 770px;
    height: 168px;
    font-size: 72px;
    font-weight: 700;
    font-family: bold;
    margin: 0 auto;
    margin-bottom:30px ;
}
.section-button-1{
    margin-top: 20px;
    gap: 15px;
}

.middel-content{
    width: 1360px;
    background-color: #f5f3f3;
}

section.main-div{
    margin: 0 auto;
}

.middel-content{
    max-width: 1360px;
    margin: 0 auto;
    
}
.card-info{
   width: 1360px;
   height: 160px;
    text-align: center;
  padding-top: 50px;
}
.card-div{
    display: flex;

}

.nav-content h1{font-size: 48px;
    font-family: bold;
    font-weight: 700;
}
.card{
 
    width: 322;
    height: 300;
    padding: 24px;
    display: flex;
    background-color: #fbf6f6;
    border-radius: 10;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    
    
}
.card img{
    width: 32px;
    height: 32px;
    padding: 10;
    margin: 0 auto;
    background-color:rgba(249, 85, 85, 1);
    border-radius: 45px;
    box-sizing: calc(60 60);
    text-decoration: ;
}
    


.artical-top{
    width: 1360px;
    height: 600px;
    display: flex;
    gap: 60px;
    background-color: #ffffff;
}

.artical{
    width: 700px;
    height: 228px;
    margin-top: 100px;
}

.artical {width: 700px;}
.artical h1{
    font-size: 48px;
    font-family: bold;
    font-weight: 700;
    margin-bottom: 16px;
}

.artical.buttom{
    margin-top: 15px;
}

.artical-buttom h5{
    margin-top: 15px;
}

.ready-think-1 h1{
    margin-bottom: 20px;
}
.ready-think-1 p{
    margin-bottom:20px;
}




.ready-think {
    background-color: #f7f7f7;
    width: 1360px;
   text-align: center;
   padding: 80px;
}
#button-3{
     border-radius: 4px;
    background-color: #30B868;
    margin-bottom: 20px;
}

.ready-think button{
   padding: 10px 20px;
}




footer{
    max-width: 1600px;
    height: 348px;
    background-color:#1f1f50 ;
    margin: 0 auto;
}
.main-footer{
    width: 1360px; 
    margin: 0 auto;

}
.footer-top{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    padding: 110px;
    border-bottom: 0.5px solid #f3f0f0;
   
}
.footer-top h4{
    color: #f3f0f0;
}
.footer-down{

    padding-bottom: 30px;
    text-align: center;

    

}
.footer-down p{color: #f3f0f0;
padding-top: 30px;

}